<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="typeLogXML" value="false"/>
		<add key="LogPath" value="C:\EasySave\Logs"/>
		<add key="ProgressStatePath" value="C:\EasySave\ProgressState"/>
		<add key="SaveWorkPath" value="C:\EasySave\SaveWorks"/>
		<add key="fileToCryp" value=".txt,.png"/>
		<add key="CryptKeyPath" value="C:\EasySave\key.txt"/>
		<!--Key for test : 1680066233100724916-->
		<!-- Link of the gitHub for cryptoSoft   https://github.com/RizSoto/cryptosoft-->
		<add key="pathToCryptoSoft" value="C:\Program Files\Cryptosoft"/>
		<add key="RunningProcess" value="Notepad"/>
		<add key="FileToPrioritize" value=".png"/>
		<add key="FileSizeLimit" value="30000"/>
	</appSettings>
</configuration>